extends layout

block content

    //-Margin top with 1.5 spacer
    div(class= "mt-4")
        h5(class= "mb-4") Startseite

        //-Iterating over the dummy post array
        each post in others
            //-Card using margin bottom with default spacer * 1
            div(class= "card mb-3")
                //-Content of the card
                div(class= "card-body")
                    //-Flex container to order image and text next to each other
                    div(class= "d-flex")
                        img(
                            class= "rounded-circle me-3",
                            src= post.avatar,
                            alt= post.name,
                            width= "48",
                            height= "48"
                        )
                        //-Fill remaining space in container
                        div(class= "flex-fill")
                            div(class= "d-flex justify-content-between align-items-center mb-1")
                                span
                                    //-Thick name
                                    strong= post.name
                                    //-Light grey @ text
                                    span(class= "text-muted ms-1")= `@${post.name}`
                                //-Display date and time together
                                small(class= "text-muted")= new Date(post.created).toLocaleString("de-DE")
                            //-Actual post content
                            p(class= "mb-0")= post.text
