extends layout



block content

    //Dummy users array for sorting alphabetical order
    -
        const users = [
            {
                avatar: "/img/users/santa.png",
                name: "santa",
                handle: "santa"
            },
            {
                avatar: "/img/users/aaronhollack.png",
                name: "aaron",
                handle: "aaron"
            },
            {
                avatar: "/img/users/panickyDingo2.png",
                name: "panickyDingo2",
                handle: "panickyDingo2"
            },
            {
                avatar: "/img/users/thrilledWeaver3.png",
                name: "thrilledWeaver3",
                handle: "thrilledWeaver3"
            },
            {
                avatar: "/img/users/bruceferguson.png",
                name: "bruceferguson",
                handle: "bruceferguson"
            },
        ];

        //Sort posts in place by username
        users.sort((a,b) => a.name.localeCompare(b.name, 'de'));



    .mt-4
        h5.mb-4 Registrierte Nutzer

        //Loop through each user
        ul.list-group
            each user in users
                //Frame for each user
                li.list-group-item
                    .d-flex.align-items-center
                        img.rounded-circle.me-3(
                            src=user.avatar,
                            alt=user.name,
                            width="48",
                            height="48"
                        )
                        span
                            strong= user.name
                            //Render "@handle"
                            span
                                =`@${user.handle}`
